*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #dfd3c3;
}
main{
    background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),
    url(./Image/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash\ \(1\).png);
    height: 100vh;
    background-size: cover;
    background-repeat: none;
}
.logo{
    padding: 1rem;
    width: 100px;
}
header, ul{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    margin: 1.5rem;
}
ul li{
    margin-left: 1rem;
    list-style-type: none;
}
ul li a{
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

i{
    color: rgb(255, 255, 255);
    display: none;
}
.fa-bars{
    display: none;
}
section{
    padding: 1rem 3rem;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}
.hero-text{
    width: 25%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: px;
    letter-spacing: -1px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}
.hero-col-1{
    width: 80%;
    background:  #FFFFFF;
    height: 70px;
    border-radius: 10px;
    margin-left: 2.2rem;
}
/* .hero-col-2{
    background: black;
    width: 40%;
}
.hero-col-3{
    background: red;
    width: 40%;
}
.hero-col-4{
    background: black;
    width: 30%;
} */
.col-wrapper{
    display: flex;
    justify-content: center;
    width: auto;
    height: 40px;
    margin: 1rem;
}
.hero-col-2,.hero-col-3,.hero-col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
    margin-top: 20px;
    padding: 1rem;
    width: 30%;
}
.hero-col-4{
    width: 10%;
    background: #23A6F0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
}
label{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;

}
select{
    border: none;
}
.minimum{
    width: 839px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 64px;
    margin: auto;
}
.min-line{
    background-color: rgba(244, 81, 30, 1);
    width: 23%;
    height: 1px;
    margin-top: -13px;
    margin-left: 13rem;
}
#main{
    background: #E5E5E5;
}
.container-img-text{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    width: 80%;
    margin: auto;
}
.container-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
        column-gap: 3rem;
        row-gap: 3rem;
        margin-top: 3rem;
        height: 50vh;
        width: 80%;
        padding: 1rem;
}
.paid,.home,.stack,.flower,.rank,.circle{
    padding: .5rem;
}
.wrap{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 40px;
}
.icons{
    width: 20px;
}
.textss{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    padding-top: .5rem;
    width: 80%;
    font-style: normal;
    text-transform: capitalize;
}
#properties{
    background: #F5F5F5;
}
.list{
    display: flex;
    justify-content: space-between;
}
h2{
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #18191F;
    text-transform: capitalize;
}
.list-line{
    height: 2px;
    width: 25%;
    margin-top: -15px;
    background-color: rgba(244, 81, 30, 1);
}
button{
    border: none;
    background-color: rgba(244, 81, 30, 1);
    border-radius: 5px;
}
#view{
    padding: .5rem;
    font-style: normal;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
#available{
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 3rem;
    margin-left: 3rem;
}
.available-props{
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 27px;
    box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
    /* height: 60vh; */
    
}
.available-props-image{
    width: 100%;
}
.available-props-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.available-props-address{
    width: 80%;
    font-family: 'DM Sans';
font-size: 23px;
font-weight: 700;
letter-spacing: -0.1px;
text-align: left;

}
small{
font-family: 'DM Sans';
font-weight: 200;
text-align: left;
color: rgba(129, 129, 129, 1);
margin-top: .4rem;
}
#available-price{
    font-family: 'DM Sans';
    letter-spacing: -0.6420748233795166px;
    text-align: left;
    color: rgba(244, 81, 30, 1);
}
.row-line{
    margin-top: .7em;
    width: 100%;
    height: 1px;
    background-color: #18191F;
}
.iconss{
    display: flex;
    width: 100%;
    border-radius: 27px;
}
.icons1{
    display: flex;
    align-items: center;
    width: 20%;
    padding: 0 2rem;
    height: 6vh;
}
.icons-number{
    padding-left: 10px;
}
@media (max-width:770px){
    
    ul{
        display: flex;
        margin: 1rem;
    }
    ul li a{
        text-decoration: none;
    }

    .hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }
    .hero-text{
        width: 30%;
        font-family: 'Inter';
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    
    }
    
  
}

@media (max-width:480px){
    main{
        background-image: url(./Image/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash\ \(1\).png);
        height: 90vh;
        background-size: cover;
        background-repeat: none;
        overflow: hidden;
    }
    section{
        padding: 1rem 1rem;
    }
    
    label .logo{
        width: 5rem;
        padding: 1rem;
    }
     ul{
        display:block;
        position: absolute;
        top: 50px;
        left: 0;
        background:black;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }
     ul li{
        padding: 3px;
    }
    .icon{
        display: block;
        margin-top: 5rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    i{
        padding: .5rem;
    }
    
    .fa-bars{
        display: block;
        margin-top: .5rem;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin-top: 3rem;
    }
    img{
        width: 100%;
       
    }
    .hero-text{
        width: 25%;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1px;
        width: 90%;
        color: rgba(255, 255, 255, 1);
    
    }
    .hero-img-texts{
        width: 90%;
        height: 5vh;
        background-color: rgba(255, 255, 255, 1);
        margin-left: 1.3rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    .hero-col-1{
        width: 90%;
        background:  #FFFFFF;
        height: 70px;
        border-radius: 10px;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
    }
    .container{
        padding: 1rem;
    }
    .minimum{
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        font-size: 15px;
        }
        .min-line{
            background-color: rgba(244, 81, 30, 1);
            width: 36%;
            height: 1px;
            margin-top: -20px;
            margin-left: 0px;
        }
        .container-img-text{
         display: block;
         margin: 0;
         width: 100%;
    }
        .container-text{
            padding: 0px;
            margin-top: 0px;
            display: grid;
            grid-template: repeat(2 1fr);
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .texts{
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 1px solid white;
        }
        .textss{
            font-family: 'Inter';
            font-weight: 300;
            font-size: 10px;
            width: 80%;
            font-style: normal;
            text-transform: capitalize;
        }
        #properties{
            
            background: #F5F5F5;
        }
        .list{
            display: flex;
            justify-content: space-between;
        }
        h2{
            font-family: 'Inter';
            font-size: 15px;
            font-weight: 600;
            line-height: 64px;
            text-align: left;
            color: #18191F;
            text-transform: capitalize;
        }
        .list-line{
            height: 2px;
            width: 25%;
            margin-top: -20px;
            background-color: rgba(244, 81, 30, 1);
        }
        button{
            width: 100px;
            border: none;
            background-color: rgba(244, 81, 30, 1);
            border-radius: 5px;
            margin-top: 1rem;
        }
        #view{
            padding: 0;
            font-style: normal;
            font-family: 'Manrope';
            font-weight: 300;
            font-size: 10px;
            text-align: center;
            color: #FFFFFF;
         
        }
        #available{
            margin-top: 3rem;
            display: grid;
            grid-row-gap: 2rem;
            grid-template-columns: 1fr;
            justify-content: center;
            margin-left: 0;
        }
        .available-props{
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #979797;
            border-radius: 27px;
            box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
            /* height: 60vh; */
            
            
        }
        .available-props-image{
            width: 100%;
        }
        .available-props-texts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            
        }
       
        .available-props-address{
            padding-left: 1rem;
            width: 80%;
            font-family: 'DM Sans';
        font-size: 23px;
        font-weight: 700;
        letter-spacing: -0.1px;
        text-align: left;
        
        }
        small{
            padding-left: 1rem;
        font-family: 'DM Sans';
        font-weight: 200;
        text-align: left;
        color: rgba(129, 129, 129, 1);
        margin-top: .4rem;
        }
        #available-price{
            padding-left: 1rem;
            font-family: 'DM Sans';
            letter-spacing: -0.6420748233795166px;
            text-align: left;
            color: rgba(244, 81, 30, 1);
        }
        .row-line{
            margin-top: .7em;
            width: 100%;
            height: 1px;
            background-color: #18191F;
        }
        .iconss{
            display: flex;
            justify-content: space-around;
            width: 100%;
            border-radius: 27px;
        }

    
    .icons1{
            width: 5%;
            display: flex;
            align-items: center;
            padding: 0 2rem;
            height: 6vh;
        }
        .icons-number{
            padding-left: 10px;
        }
        
}
@media (min-width:1728px){
   body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
   }
   html{
    background-color: black;
   }
}